img {
  width: 15%;
  max-width: 100%;
}
.brand-name span {
  font-size: 1.3rem;
  font-weight: 700;

  line-height: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 20%;
  padding: auto;
}
h5 {
  color: white;
}

h1 {
  color: white;
}
